@media screen and (max-width: 600px) {
    .header {
        display: none;
    }
    .section-wrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 22vh;
        &__title {
            width: 50%;
        }
        &__nav {
            width: 50%;
            &__list {
                display: none;

            }
            &__search {
                padding-right: 22px;
                &__input {
                    display: none;
                }
                &__anchor {
                 background-color: var(--anchor);
                 color: darkgrey;
                 font-size: 38px;
                }
            }
        }
    }    
    .wrapper {
        &__slider {
            height: 60vh;
        }
    }
    .section {
        &__table {
            &__row {
                font-size: var(--font-md);
            }
        }
    }
    .chanel {
        display: none;
    }

    .whatsapp-link {
        bottom: 20px;
    }
    
    .fa-whatsapp {
        margin-top: 16px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 8px;
        flex-direction: column;
    }
}

