@media screen and (max-width: 600px) {
    .header {
        display: none;
    }
    .section-wrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 22vh;
        &__title {
            width: 50%;
        }
        &__nav {
            width: 50%;
            &__list {
                position: absolute;
                right: -90%;
                top: 0;
                display: flex;
                flex-direction: column;
                z-index: 2;
                background-color: #f3f3f3;
                width: 90%;
                height: 100vh;
                margin-bottom: 40px;
                transition: all 1s ease-in-out;
                & .i {
                    color: #468569;
                    font-size: 2em;
                }
                &__item {
                    padding: 10px;
                }
                & p {
                    color: #468569;
                    font-weight: 600;
                    font-size: 20px;
                    padding: 79px 13px;
                }
            }
            &__search {
                padding-right: 22px;
                &__input {
                    display: none;
                }
                &__anchor {
                 background-color: white;
                 color: var(--anchor);
                 font-size: 38px;
                }
            }
        }
        .fas.fa-bars {
            font-size: 2em;
            text-align: right;
            color: #c4c4c4;
            padding: 20px 11px;
        }
        .sidebar-active {
            right: 0 !important;
        }
    }    
    .wrapper {
        &__slider {
            height: 60vh;
            &__item {
                &__text {
                    padding:0 12px;
                & h3 {
                    font-size: 2rem;
                    font-weight: 600;
                    }
                }
                & p {
                    font-size: 1.2rem;
                }
            }
            & .owl-dots {
                position: absolute;
                left: 50%;
                margin-bottom: -90px;
            }
        }
    }
    .section {
        padding: 130px 0;
        &__list {
            &__item {
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
    .chanel {
        display: none;
    }

    .whatsapp-link {
        bottom: 20px;
    }
    
    .fa-whatsapp {
        margin-top: 16px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 8px;
        flex-direction: column;
        &__paragraph--street {
            font-size: 0.7rem;
            padding: 0 5px;
        }
        &__paragraph {
            font-size: 0.7rem;
            padding: 0 5px;
        }
    }
}

