@media screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    height: 22vh;
  }
  .section-wrapper__title {
    width: 50%;
    padding-left: 50px;
  }
  .section-wrapper__nav {
    width: 50%;
  }
  .section-wrapper__nav__list {
    position: absolute;
    right: -90%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
    background-color: #f3f3f3;
    width: 90%;
    height: 100vh;
    margin-bottom: 40px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .section-wrapper__nav__list .i {
    color: #468569;
    font-size: 2em;
  }
  .section-wrapper__nav__list__item {
    padding: 10px;
  }
  .section-wrapper__nav__list p {
    color: #468569;
    font-weight: 600;
    font-size: 20px;
    padding: 79px 13px;
  }
  .section-wrapper__nav__search {
    padding-right: 22px;
  }
  .section-wrapper__nav__search__input {
    display: none;
  }
  .section-wrapper__nav__search__anchor {
    background-color: white;
    color: var(--anchor);
    font-size: 38px;
  }
  .section-wrapper .fas.fa-bars {
    font-size: 2em;
    text-align: right;
    color: #c4c4c4;
    padding: 20px 11px;
  }
  .section-wrapper .sidebar-active {
    right: 0 !important;
  }
  .wrapper__slider {
    height: 60vh;
  }
  .wrapper__slider__item__text {
    padding: 0 12px;
  }
  .wrapper__slider__item__text h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  .wrapper__slider__item p {
    font-size: 1.2rem;
  }
  .wrapper__slider .owl-dots {
    position: absolute;
    left: 50%;
    margin-bottom: -90px;
  }
  .section {
    padding: 130px 0;
  }
  .section__list__item {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .chanel {
    display: none;
  }
  .whatsapp-link {
    bottom: 20px;
  }
  .fa-whatsapp {
    margin-top: 16px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__paragraph--street {
    font-size: 0.7rem;
    padding: 0 5px;
  }
  .footer__paragraph {
    font-size: 0.7rem;
    padding: 0 5px;
  }
  /* Media-query page about-us */
  .main {
    width: 100%;
    /* Media-query page agenda */
  }
  .main__our-history {
    height: 100px;
  }
  .main__our-history__title {
    font-size: 1.5rem;
  }
  .main__paragraph {
    padding: 20px 7px 8px;
    font-size: 1rem;
    text-align: center;
  }
  .main .start {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 12px;
  }
  .main .grid-image {
    width: 100%;
    margin: 5px;
  }
  .main .grid-image__photos {
    margin: 0;
  }
  .main .grid-image__photos img {
    width: 116px;
    margin: 3px;
  }
  .main .our-mission {
    height: 100px;
  }
  .main .our-mission__title {
    font-size: 1.5rem;
  }
  .main .grid-timeTable {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .grid-timeTable__banner {
    width: 120px;
    height: 120px;
    margin: 8px;
    background-color: var(--color-primary-main);
  }
  .schedule-week {
    height: 460px;
  }
}
/*# sourceMappingURL=media-queries.css.map */