:root {
    --color-primary-main: #429b6f;
    --color-primary-light: #97ccb2;
    --color-primaty-dark: #1b422f;
    --color-secondary: #454545;
    --anchor: #c4c4c4;
    --color-primary-text: #fdfdfd;
    --font-lg: 1rem;
    --font-md: 0.8rem;
    --font-socialMedias: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background-color: var(--color-secondary);
    height: 60px;
    display: flex;
    align-items: center;
}    
.social-medias {
    width: 100%;
    display: flex;
    font-size: var(--font-lg);
    &__item {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        &__anchor {
            color: var(--color-primary-text);
            margin: 8px;
            text-decoration: none;
            font-size: var(--font-socialMedias);
        }
        &--spaced { 
            flex-grow: 1;
            text-align: right;                    
        }
    }
}

.section-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    &__title {
        width: 100%;
        max-width: 400px;
        &--logo {
            width: 50%;
        }
    }
    &__nav {
        &__list {
            display: flex;
            margin-bottom: 10px;
            .fa-bars {
                display: none;
            }
            & p {
                display: none;
            }
            &__item {
                padding: 10px;
                &__anchor {
                    text-decoration: none;
                    color: var(--color-primary-main);
                    font-size: var(--font-lg);
                    font-weight: bold;
                    &:hover {
                        color: var(--color-primaty-dark);
                        text-decoration: underline;
                    }
                }
            }
        }

        &__search {
            display: flex;
            justify-content: center;
            &__input {
                padding: 12px;
                width: 70%;
                border-top-left-radius: var(--font-md);
                border-bottom-left-radius: var(--font-md);
                font-size: var(--font-md);
                border: none;
                background-color: var(--color-primary-light);
                &:focus {
                    outline: none;
                }           
            }
            &__anchor {
                display: flex;
                text-decoration: none;
                align-items: center;
                color: var(--anchor);
                padding-right: 25px;
                font-size: 20px;
                background-color: var(--color-primary-light);
                border-top-right-radius: var(--font-md);
                border-bottom-right-radius: var(--font-md);
                color: #ffff;
            }                   
        }
    }
}

.master {
    display: flex;
    width: 100%;
    justify-content: center;
    &__row {
        display: block;
        height: 2px;
        width: 38%;
        margin-top: 34px;
        background-color: var(--anchor);
        margin-right: 576px;
        margin-bottom: 14px;
    }
}

.wrapper {
    width: 100%;
    &__slider {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__item {
            height: 500px;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &.live {
                background-image: url("../img/carousel/live-img.jpeg");
                background-size: cover;
            }
            &.shepherd {
                background-image: url("../img/carousel/atendimento-pastoral.jpeg");
                background-size: cover;
            }
            &.medias {
                background-image: url("../img/carousel/midias.jpeg");
                background-size: cover;
            }
            &.ebd {
                background-image: url("../img/carousel/EBD.jpg");
                background-size: cover;
            }
            &.spotify {
                background-image: url("../img/carousel/Spotify-img.jpeg");
                background-size: cover;
            }
            &__text {
                width: 100%;
                max-width: 960px;
                margin: 0 auto;
                color: var(--color-primary-text);
                & h3 {
                    font-size: 3rem;
                    font-weight: 600;
                }
                &__row {
                    border: solid 1px;
                    margin: 15px 0;
                    width: 90%;
                }
                & p {
                    font-size: 1.3rem;
                    margin-bottom: 10px;
                }
            }
        }
        & .owl-dots {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            & .owl-dot {
                width: 15px;
                height: 15px;
                background-color: var(--color-primary-text);
                border-radius: 50%;
                margin: 0 7px;
                &.active {
                    background-color:#b2ce7b;
                    ;
                }         
            }
        }
        
    }

}

.section {
    width: 100%;
    background-color: #97ccb2;
    padding: 45px 0;
    &__title-schedule {
        text-align: center;
        padding-bottom: 30px;
        color: var(--color-primary-text);
        font-size: 30px;
        font-weight: bold;
    }
    &__list {
        text-align: center;
        padding: 0 2rem;
        &__item {
            margin-bottom: 16px;
            color: var(--color-primary-text);
            font-size: 1.3rem;
        }
    }
}

.chanel {
    &__img-wrapper {
        width: 100%;
        height: 390px;
        background-image: url("../img/Icon/bg-youtube.jpeg");
        background-size: cover;
        background-position: center;
        &__text {
            font-size: 68px;
            width: 50%;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &__anchor {
                text-decoration: none;
                color: var(--color-primary-text);
            }
            &__title {
                margin: 20px 0;
                font-weight: 600;
                font-size: 3rem;
            }
            &__paragraph {
                font-size: 1.3rem;
            }
        }
    }    
}

.whatsapp-link {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 126px;
    right: 23px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: var(--color-secondary);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-primary-text);
    &__paragraph {
        font-weight: bold;
        font-size: 1rem;
    }
    &__paragraph--street {
        color: #1ccc99;
        font-size: 1rem;
        font-weight: bold;
    }
}
