@charset "UTF-8";
:root {
  --color-primary-main: #27714d;
  --color-primary-light: #97ccb2;
  --color-primary-dark: #1b422f;
  --color-footer: #454545;
  --anchor: #c4c4c4;
  --color-primary-text: #fdfdfd;
  --font-lg: 1rem;
  --font-md: 0.8rem;
  --font-socialMedias: 1.5rem;
  --line-h-paragraph: 2rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-primary-main);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-medias {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--font-lg);
}

.social-medias__item {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.social-medias__item__anchor {
  color: var(--color-primary-text);
  margin: 8px;
  text-decoration: none;
  font-size: var(--font-socialMedias);
}

.social-medias__item--spaced {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-wrapper .fa-bars {
  display: none;
}

.section-wrapper__title {
  width: 100%;
  max-width: 400px;
}

.section-wrapper__title--logo {
  width: 50%;
}

.section-wrapper__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* & p {
              display: none;
          } */
}

.section-wrapper__nav__list__item {
  padding: 10px;
}

.section-wrapper__nav__list__item__anchor {
  text-decoration: none;
  color: var(--color-primary-main);
  font-size: var(--font-lg);
  font-weight: bold;
}

.section-wrapper__nav__list__item__anchor:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

.section-wrapper__nav__list__item.dropdown:hover .sub-menu {
  display: block;
  position: absolute;
}

.section-wrapper__nav__list__sub-menu {
  display: none;
  background-color: whitesmoke;
  padding: 8px;
  font-weight: 600;
}

.section-wrapper__nav__list__sub-menu__list {
  padding: 5px 0;
}

.section-wrapper__nav__list__sub-menu__list__anchor {
  text-decoration: none;
  color: var(--color-primary-main);
}

.section-wrapper__nav__list__sub-menu__list__anchor:hover {
  text-decoration: underline;
}

.master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.master__row {
  display: block;
  height: 2px;
  width: 38%;
  margin-top: 34px;
  background-color: var(--anchor);
  margin-right: 576px;
  margin-bottom: 14px;
}

.wrapper {
  width: 100%;
}

.wrapper__slider {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__slider__item {
  height: 500px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__slider__item.live {
  background-image: url("../img/carousel/live-img.jpeg");
  background-size: cover;
}

.wrapper__slider__item.shepherd {
  background-image: url("../img/carousel/atendimento-pastoral.jpeg");
  background-size: cover;
}

.wrapper__slider__item.medias {
  background-image: url("../img/carousel/midias.jpeg");
  background-size: cover;
}

.wrapper__slider__item.ebd {
  background-image: url("../img/carousel/EBD.jpg");
  background-size: cover;
}

.wrapper__slider__item.spotify {
  background-image: url("../img/carousel/Spotify-img.jpeg");
  background-size: cover;
}

.wrapper__slider__item__text {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color: var(--color-primary-text);
}

.wrapper__slider__item__text h3 {
  font-size: 3rem;
  font-weight: 600;
}

.wrapper__slider__item__text__row {
  border: solid 1px;
  margin: 15px 0;
  width: 90%;
}

.wrapper__slider__item__text p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.wrapper__slider .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper__slider .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background-color: var(--color-primary-text);
  border-radius: 50%;
  margin: 0 7px;
}

.wrapper__slider .owl-dots .owl-dot.active {
  background-color: #b2ce7b;
}

.section {
  width: 100%;
  height: 500px;
  background-color: #97ccb2;
}

@media screen and (max-width: 414px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1em;
    width: auto;
  }
}

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section__wrapper__schedule__title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary-text);
  padding: 40px 0;
}

.section__wrapper__schedule__monday {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary-text);
  padding-bottom: 30px;
}

.section__wrapper__schedule__paragraph {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-text);
}

.section__wrapper__schedule__paragraph--ebd {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-text);
  padding-bottom: 30px;
}

@media screen and (max-width: 414px) {
  .section__wrapper__schedule__title {
    font-size: 1.5rem !important;
  }
  .section__wrapper__schedule__monday {
    font-size: 1rem;
  }
  .section__wrapper__schedule__paragraph, .section__wrapper__schedule__paragraph--ebd {
    font-size: .9rem;
  }
}

.section__schedule-pd {
  padding-top: 120px;
}

@media screen and (max-width: 414px) {
  .section__schedule-pd {
    padding-top: 104px;
    margin-left: 2em;
  }
}

.section__schedule-pd__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary-text);
  padding-bottom: 30px;
}

.section__schedule-pd__paragraph {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-text);
}

.section__schedule-pd__paragraph--member {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-text);
  padding-bottom: 30px;
}

@media screen and (max-width: 414px) {
  .section__schedule-pd__title {
    font-size: 1rem;
  }
  .section__schedule-pd__paragraph, .section__schedule-pd__paragraph--member {
    font-size: .9rem;
  }
}

.chanel__img-wrapper {
  width: 100%;
  height: 390px;
  background-image: url("../img/Icon/bg-youtube.jpeg");
  background-size: cover;
  background-position: center;
}

.chanel__img-wrapper__text {
  font-size: 68px;
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.chanel__img-wrapper__text__anchor {
  text-decoration: none;
  color: var(--color-primary-text);
}

.chanel__img-wrapper__text__title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 3rem;
}

.chanel__img-wrapper__text__paragraph {
  font-size: 1.3rem;
}

.mission {
  background-image: url(../img/Icon/missões.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission__title {
  font-size: 6rem;
  color: var(--color-primary-text);
  font-weight: bold;
  letter-spacing: 18px;
}

.mission__paragraph {
  font-size: 3rem;
  color: var(--color-primary-text);
}

.section-officers__title {
  text-align: center;
  padding-top: 30px;
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-primary-main);
}

.section-officers__list {
  margin-bottom: 120px;
}

.section-officers__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-officers__list__item img {
  width: 250px;
  margin: 10px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .section-officers__list__item img {
    width: 148px;
  }
}

.section-officers__list__item div {
  margin: 30px 40px;
}

.section-officers__list__item div p {
  text-align: center;
  color: var(--color-primary-main);
  font-size: 1.5rem;
  font-weight: bold;
}

.our-mission {
  height: 400px;
  background-color: #58b589;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-primary-text);
  text-align: center;
}

.our-mission__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.our-mission__paragraph {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.whatsapp-link {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 126px;
  right: 23px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  -webkit-box-shadow: 1px 1px 2px #888;
          box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

.footer {
  padding: 24px 1em;
  background-color: var(--color-footer);
  color: var(--color-primary-text);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo-ipbjda__title {
  padding: 8px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer__logo-ipbjda__paragraph {
  font-size: 1rem;
  font-weight: bold;
}

.footer__logo-ipbjda__title--social-medias {
  padding: 30px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer__logo-ipb {
  height: 100px;
}
/*# sourceMappingURL=style.css.map */