:root {
  --color-primary-main: #429b6f;
  --color-primary-light: #97ccb2;
  --color-primaty-dark: #1b422f;
  --color-secondary: #454545;
  --anchor: #c4c4c4;
  --color-primary-text: #fdfdfd;
  --font-lg: 28px;
  --font-md: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-secondary);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-medias {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--font-lg);
}

.social-medias__item {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.social-medias__item__anchor {
  color: var(--color-primary-text);
  margin: 8px;
  text-decoration: none;
  font-size: var(--font-lg);
}

.social-medias__item--spaced {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.section-wrapper__title {
  width: 100%;
  max-width: 400px;
}

.section-wrapper__title--logo {
  width: 80%;
}

.section-wrapper__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.section-wrapper__nav__list__item {
  padding: 10px;
}

.section-wrapper__nav__list__item__anchor {
  text-decoration: none;
  color: var(--color-primary-main);
  font-size: var(--font-lg);
  font-weight: bold;
}

.section-wrapper__nav__list__item__anchor:hover {
  color: var(--color-primaty-dark);
  text-decoration: underline;
}

.section-wrapper__nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-wrapper__nav__search__input {
  padding: 20px;
  width: 70%;
  border-top-left-radius: var(--font-md);
  border-bottom-left-radius: var(--font-md);
  font-size: var(--font-md);
  border: none;
  background-color: var(--color-primary-light);
}

.section-wrapper__nav__search__input:focus {
  outline: none;
}

.section-wrapper__nav__search__anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--anchor);
  padding-right: 25px;
  font-size: 30px;
  background-color: var(--color-primary-light);
  border-top-right-radius: var(--font-md);
  border-bottom-right-radius: var(--font-md);
  color: #ffff;
}

.master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.master__row {
  display: block;
  height: 2px;
  width: 38%;
  margin-top: 34px;
  background-color: var(--anchor);
  margin-right: 576px;
  margin-bottom: 14px;
}

.wrapper {
  width: 100%;
}

.wrapper__slider {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__slider__item {
  height: 500px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__slider__item.live {
  background-image: url("/img/carousel/live-img.jpeg");
  background-size: cover;
}

.wrapper__slider__item.shepherd {
  background-image: url("/img/carousel/atendimento-pastoral.jpeg");
  background-size: cover;
}

.wrapper__slider__item.medias {
  background-image: url("/img/carousel/midias.jpeg");
  background-size: cover;
}

.wrapper__slider__item.ebd {
  background-image: url("/img/carousel/EBD.jpg");
  background-size: cover;
}

.wrapper__slider__item.spotify {
  background-image: url("/img/carousel/Spotify-img.jpeg");
  background-size: cover;
}

.wrapper__slider__item__text {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color: var(--color-primary-text);
}

.wrapper__slider__item__text h3 {
  font-size: 113px;
  font-weight: 600;
}

.wrapper__slider__item__text__row {
  border: solid 1px;
  margin: 15px 0;
  width: 90%;
}

.wrapper__slider__item__text p {
  font-size: 40px;
  margin-bottom: 10px;
}

.wrapper__slider .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper__slider .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background-color: var(--color-primary-text);
  border-radius: 50%;
  margin: 0 7px;
}

.wrapper__slider .owl-dots .owl-dot.active {
  background-color: #b2ce7b;
}

.section {
  width: 100%;
  background-color: #97ccb2;
  padding: 45px 0;
}

.section__title-schedule {
  text-align: center;
  padding-bottom: 30px;
  color: var(--color-primary-text);
  font-size: 40px;
  font-weight: bold;
}

.section__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__table__row {
  color: var(--color-primary-text);
  font-size: var(--font-lg);
}

.section__table__row__header {
  font-weight: bolder;
  padding-bottom: 15px;
}

.section__table__row__data {
  padding: 5px 28px;
}

.chanel__img-wrapper {
  width: 100%;
  height: 390px;
  background-image: url("/img/Icon/bg-youtube.jpeg");
  background-size: cover;
  background-position: center;
}

.chanel__img-wrapper__text {
  font-size: 68px;
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.chanel__img-wrapper__text__anchor {
  text-decoration: none;
  color: var(--color-primary-text);
}

.chanel__img-wrapper__text__title {
  margin: 20px 0;
  font-weight: 600;
}

.chanel__img-wrapper__text__paragraph {
  font-size: 45px;
}

.whatsapp-link {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 126px;
  right: 23px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  -webkit-box-shadow: 1px 1px 2px #888;
          box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: var(--color-secondary);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-primary-text);
}

.footer__paragraph {
  font-weight: bold;
  font-size: 18px;
}

.footer__paragraph--street {
  color: #1ccc99;
  font-size: 18px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */